extends layout

block content
	h1 Members Area
	p Welcome to the members area
		ul
			li Existing Username: bane, Existing Password: bane
			li show dbs, use <nodeauth> db, use <users> collection and query as you wish! :) 